.yui3-ebisu-dualslider,
.yui3-ebisu-dualslider-rail {
    /* xbrowser inline-block styles */
    display: -moz-inline-stack; /* FF2 */
    display: inline-block;
    *display: inline; /* IE 7- (with zoom) */
    zoom: 1;
    vertical-align: middle;
}

.yui3-ebisu-dualslider-content {
    position: relative;
    display: block;
}
.yui3-ebisu-dualslider-rail {
    position: relative;
}

.yui3-ebisu-dualslider-rail-cap-top,
.yui3-ebisu-dualslider-rail-cap-left,
.yui3-ebisu-dualslider-rail-cap-bottom,
.yui3-ebisu-dualslider-rail-cap-right,
.yui3-ebisu-dualslider-thumb,
.yui3-ebisu-dualslider-thumb-image,
.yui3-ebisu-dualslider-thumb-shadow {
    position: absolute;
    
    left: 0;
    opacity: 0.15;
    top: -50px;
}

.yui3-ebisu-dualslider-thumb {
    overflow: hidden;
    
    left: 0;
    top: -10px;
}
