/* Indicate that this element is editable */
.yui3-gallery-dp-editable-field {
    cursor: pointer;
}

.yui3-gallery-dp-editable-field:hover {
    background-color: #eeeeee;
}

.yui3-gallery-dp-editable-field-saving {
    color: #aaaaaa;
    font-style: italic;
}