.yui3-gallery-dp-timeline {
    z-index: 99;
    overflow: hidden;
}

.yui3-gallery-dp-timeline-content {
    position: relative;
    top: 0px;
}

.yui3-gallery-dp-timeline-event-container {
    position: relative;
    z-index: 30;
    padding-top: 0.25em;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-event {
    position: absolute;
    text-align: center;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-background {
    /* position: absolute; */
    position: relative;
    z-index: 10;
    min-height: 400px;
    background-color: #EEEEEE;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-background-highlight {
    position: absolute;
    background-color: #FAFAF0;
    min-height: 400px;
}
